@font-face {
  font-family: 'BMW-light';
  src: url(../fonts/BMWTypeNext-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'BMW-reg';
  src: url(../fonts/BMWTypeNext-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'BMW-bold';
  src: url(../fonts/BMWTypeNext-Bold.woff2) format('woff2');
}

@media (prefers-reduced-motion: reduce) {
  body {
    animation: unset;
  }
}

/**************/
/* CSS REMEDY */
/**************/

*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;  
}

body {
  background-color: var(--color-white);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-white:#ffffff;
  --color-lightgrey:#f6f6f6;
  --color-darkgrey:#666666;
  --color-black:#262626;
  --color-blue:#1C69D4;
  --color-darkblue:#11438a;
  --color-pureblack:#000000;
  --color-orange:#ff9900;
  --color-mred:#e22718;
  --color-mcobalt:#003c78;
  --color-mcyan:#0066b1;
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-white:#3f3f3f;
  --color-lightgrey:#090909;
  --color-darkgrey:#999999;
  --color-black:#d9d9d9;
  --color-blue:#1C69D4;
  --color-darkblue:#11438a;
  --color-pureblack:#ffffff;
  --color-orange:#ff9900;
  --color-mred:#e22718;
  --color-mcobalt:#003c78;
  --color-mcyan:#0066b1;
  }
}

#Skip{
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  height: 1%;
  width: 1%;
}

#Skip:focus{
  clip-path: none;
  height: 2em;
  width: 15em;
}

ul{
  list-style: none;
  padding: 0%;
}

li{
  list-style: none;
}

main{
  padding: 1.5em;
  padding-top: 5.5em;
  font-family: BMW-light,Arial;
  color: var(--color-black);
}

label{
  position: absolute;
  left: 2em;
  top: 4em;
  font-family: BMW-bold,Arial;
}

input{
  scale: 200%;
}

input:hover {
  animation-name:checkbox-animation;
  animation-duration:1s;
}

@keyframes checkbox-animation {
  0% {
    scale:1;
  }
  33% {
    scale:4;
  }

  66% {
    scale:1;
  }

  100% {
    scale:4;
  }
}

:focus{
  outline: none;
  box-shadow:
    0 0 0 2px var(--color-mred),
    0 0 0 4px var(--color-mcobalt),
    0 0 0 6px var(--color-mcyan);
}

/*main 1e section*/

main section:nth-of-type(1){
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

main section:nth-of-type(1) h1{
  font-weight: 100;
}

main section:nth-of-type(1) h2{
  font-weight: 100;
  font-size: 1em;
  margin-top: 1em;
}

/*carousel*/

main section:nth-of-type(1) ul{
  margin-top: 1em;
  display: flex;
  overflow-x: auto;
  column-gap: 1em;
}

main section:nth-of-type(1) ul li button{
  margin-top: 0em;
  border: solid 0.1em; 
  border-color: var(--color-darkgrey);
  color: var(--color-darkgrey);
  background-color: transparent;
  width: 12em;
  font-family: BMW-bold,Arial;
  font-size: 1em;
  font-weight: 900;
  padding: 0.5em;
}

main section:nth-of-type(1) button{
  margin-top: 1em;
  border: none;
  background-color: transparent;
  width: 9em;
  font-family: BMW-bold,Arial;
  font-size: 1em;
  font-weight: 900;
}

main section:nth-of-type(1) b{
  font-family: BMW-bold,Arial;
}

main section:nth-of-type(1) h3{
  margin-top: 1.5em;
  font-family: BMW-light,Arial;
  font-size: 1em;
}

/*voor de carousel heb ik Vivanne om hulp gevraagd, gelukkig was dit niet heel lastig
en had ik haar hulp alleen maar nodig bij een paar regeltjes code*/

/*main 2e section*/

main section:nth-of-type(2) select{
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  border: none;
  border-bottom: solid 0.1875em;
  border-color: var(--color-lightgrey);
  width: 100%;
  height: 3.5em;
  font-family: BMW-bold,Arial;
  font-size: 1.1em;
  margin-top: 1em;
}

main section:nth-of-type(2) h2{
  margin-top: 1em;
  font-size: 1.2em;
}

/*grid item rootste*/

main section:nth-of-type(2) li:nth-of-type(1) img{
  width: 65%;
  margin-left: 3em;
  margin-top: 2.5em;
}

main section:nth-of-type(2) li:nth-of-type(1) h3{
  margin-top: 2.5em;
  font-size: 1em;
}

main section:nth-of-type(2) li:nth-of-type(1) h4{
  font-size: 0.7em;
  font-family: BMW-bold,Arial;
  color: var(--color-darkgrey);
  margin-top: 0.5em;
}

main section:nth-of-type(2) li:nth-of-type(1) h5{
  margin-top: 0.3em;
  font-family: BMW-light,Arial;
  font-weight: 100;
}

main section:nth-of-type(2) li:nth-of-type(1) button{
  right: 17em;
  top: 41.2em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 100;
  grid-column-start: 2;
  grid-column-end: 3;
}

/*grid item 1e kleine*/

main section:nth-of-type(2) li:nth-of-type(2){
  margin-top: 3em;
  margin-left: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1em;
}

main section:nth-of-type(2) li:nth-of-type(2) img:nth-of-type(1){
  width: 7em;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: right;
}

main section:nth-of-type(2) li:nth-of-type(2) img:nth-of-type(2){
  width: 3em;
}

main section:nth-of-type(2) li:nth-of-type(2) h3{
  font-size: 1em;
}

main section:nth-of-type(2) li:nth-of-type(2) h5{
  grid-row-start: 3;
  grid-row-end: 4;
}

main section:nth-of-type(2) li:nth-of-type(2) button{
  width: 1em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 100;
  right: 8.5em;
  top: 48.3em;
  grid-column-start: 2;
  grid-column-end: 3;
}

/*grid item 2e kleine*/

main section:nth-of-type(2) li:nth-of-type(3){
  margin-top: 3em;
  margin-left: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1em;
}

main section:nth-of-type(2) li:nth-of-type(3) img:nth-of-type(1){
  width: 7em;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: right;
}

main section:nth-of-type(2) li:nth-of-type(3) h3{
  font-size: 1em;
}

main section:nth-of-type(2) li:nth-of-type(3) h5{
  grid-row-start: 2;
  grid-row-end: 3;
}

main section:nth-of-type(2) li:nth-of-type(3) button{
  width: 1em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 100;
  right: 8.3em;
  top: 54em;
  grid-column-start: 2;
  grid-column-end: 3;
}

/*grid item 3e kleine*/

main section:nth-of-type(2) li:nth-of-type(4){
  margin-top: 3em;
  margin-left: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

main section:nth-of-type(2) li:nth-of-type(4) img:nth-of-type(1){
  width: 7em;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: right;
  padding-right: 0.5em;
}

main section:nth-of-type(2) li:nth-of-type(4) img:nth-of-type(2){
  width: 3em;
  padding-left: 0.5em;
}

main section:nth-of-type(2) li:nth-of-type(4) h3{
  font-size: 1em;
  padding-left: 0.2em;
}

main section:nth-of-type(2) li:nth-of-type(4) h5{
  padding-left: 0.5em;
  grid-row-start: 3;
  grid-row-end: 4;
}

main section:nth-of-type(2) li:nth-of-type(4) button{
  width: 1em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 100;
  right: 8.3em;
  top: 62.6em;
  grid-column-start: 2;
  grid-column-end: 3;
}

/*grid item 4e kleine*/

main section:nth-of-type(2) li:nth-of-type(5){
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1em;
}

main section:nth-of-type(2) li:nth-of-type(5) img:nth-of-type(1){
  width: 8em;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: left;
}

main section:nth-of-type(2) li:nth-of-type(5) h3{
  font-size: 1em;
}

main section:nth-of-type(2) li:nth-of-type(5) h5{
  grid-row-start: 2;
  grid-row-end: 3;
}

main section:nth-of-type(2) li:nth-of-type(5) button{
  width: 1em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 100;
  right: 8.3em;
  top: 68.5em;
}

/*main 3e section*/

main section:nth-of-type(3){
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

main section:nth-of-type(3) a{
  border-bottom: solid 0.125em;
  border-color: var(--color-lightgrey);
  padding: 1em;
  padding-left: 0em;
}

main section:nth-of-type(3) a::after{
  content: ">";
  position: absolute;
  right: 2em;
  scale: 150%;
}

main section:nth-of-type(3) h2{
  margin-top: 2em;
  font-size: 1em;
}