@font-face {
  font-family: 'BMW';
  src: url(../fonts/BMWTypeNext-Light.woff2) format('woff2');
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#494949;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

ul{
  list-style: none;
  padding: 0%;
}

header{
  position: absolute;
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 2.5em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.46), transparent);
}

nav > a img{
  width: 2.3em;
  height: 2.3em;
}

nav > aside img{
  width: 1.2em;
  height: 1.2em;
}

nav ul a img{
  width: 1.2em;
  height: 1.2em;
}

nav a{
padding: 0.5em;
padding-right: 1.5em;
}

nav a:first-of-type {
  flex-grow: 1;
}

footer{
  font-family: BMW-light,Arial;
  color: var(--color-white);
}

footer :nth-child(2) ul:nth-child(3) {
  display: flex;
}

footer :nth-child(2) h2{
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}