@font-face {
  font-family: 'BMW-light';
  src: url(../fonts/BMWTypeNext-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'BMW-reg';
  src: url(../fonts/BMWTypeNext-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'BMW-bold';
  src: url(../fonts/BMWTypeNext-Bold.woff2) format('woff2');
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  background-color: #797979;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#494949;
}