@font-face {
  font-family: 'BMW';
  src: url(../fonts/BMWTypeNext-Light.woff2) format('woff2');
}

@media (prefers-reduced-motion: reduce) {
  body {
    animation: unset;
  }
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-white:#ffffff;
  --color-lightgrey:#f6f6f6;
  --color-darkgrey:#666666;
  --color-black:#262626;
  --color-blue:#1C69D4;
  --color-darkblue:#11438a;
  --color-pureblack:#000000;
  --color-orange:#ff9900;
  --color-mred:#e22718;
  --color-mcobalt:#003c78;
  --color-mcyan:#0066b1;
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-white:#000000;
  --color-lightgrey:#090909;
  --color-darkgrey:#999999;
  --color-black:#d9d9d9;
  --color-blue:#1C69D4;
  --color-darkblue:#11438a;
  --color-pureblack:#ffffff;
  --color-orange:#ff9900;
  --color-mred:#e22718;
  --color-mcobalt:#003c78;
  --color-mcyan:#0066b1;
  }
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header a:hover, footer a:hover{
  text-decoration: underline;
  filter: brightness(70%);
}

header a:active, footer a:active{
  background-color: var(--color-lightgrey);
}

ul{
  list-style: none;
  padding: 0%;
}

/*header*/

header{
  position: absolute;
  width: 100%;
}

nav, #menuheader{
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 2.5em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.46), transparent);
}

#menu{
  z-index: +3;
  position: fixed;
  inset: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  display: block;
  transition-duration: 0.3s;
}

.schuilMenu{
  translate: 100%;
}

#menu li{
  place-items: start;
}

#menu ul li a{
  text-decoration: none;
  color: var(--color-darkgrey);
  font-family: BMW-bold,Arial;
  padding-left: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

#menu ul li:nth-child(1):hover{
  text-decoration: underline;
  filter: brightness(70%);
}

#menu ul li .pijl::after{
  content: ">";
  position: absolute;
  right: 2em;
  scale: 150%;
}

#menuul{
  color: var(--color-darkgrey);
  font-family: BMW-bold,Arial;
  font-weight: 900;
  padding-left: 2.4em;
  margin-top: 1.9em;
}

#menuul li{
  margin-bottom: 0.5em;
}

#menuheader{
  background-image: none;
  background-color: var(--color-white);
  width: 100%;
  border-bottom: solid 0.3125em;
  border-color: var(--color-lightgrey);
}

nav ul, #menuheader ul{
  display: flex;
}

#navMod{
  background-image: none;
}

nav > a img, #menuheader > a img{
  width: 2.3em;
  height: 2.3em;
}

nav > aside img, #menuheader > aside img{
  width: 1.2em;
  height: 1.2em;
}

nav ul a img, #menuheader ul a img{
  width: 1.2em;
  height: 1.2em;
}

nav a, #menuheader a{
padding: 0.5em;
padding-right: 1.5em;
}

nav a:first-of-type, #menuheader a:first-of-type{
  flex-grow: 1;
}

#logoMod{
   background-color: var(--color-black);
   border-radius: 5em;
}

#personMod{
  filter: brightness(0%);
}

#cartMod{
  filter: brightness(0%);
}

#glassMod{
  filter: brightness(0%);
}

#hamMod{
  filter: brightness(0%);
}

#darkAside img{
  filter: brightness(100%)
}

/*footer*/

footer{
  font-family: BMW-bold,Arial;
  font-weight: 900;
  color: var(--color-black);
}

/*1e section*/

footer section:nth-of-type(1){
  padding-left: 3em;
  padding-right: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 2em;
}

footer section:nth-of-type(1) h2{
  font-family: BMW-light,Arial;
  font-weight: 100;
  font-size: 0.8em;
  text-align: left;
  margin-bottom: 1em;
}

footer section:nth-of-type(1) a{
grid-row-start: 2;
grid-column-start: 1;
font-size: 0.9em;
text-decoration: none;
color: var(--color-black);
}

footer section:nth-of-type(1) a:hover{
  text-decoration: underline;
  filter: brightness(70%);
  }

footer section:nth-of-type(1) a:nth-of-type(2){
  grid-row-start: 2;
grid-column-start: 2;
}

/*2e section*/

footer section:nth-of-type(2){
  margin-top: 1em;
  padding-top: 2em;
  background-color: var(--color-lightgrey);
}

footer section:nth-of-type(2) details{
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  text-decoration: none;
}

details summary {
  position: relative;
  list-style-type: none;
}

details summary::before {
  content: '˅';
  position: absolute;
  top: -0.2em;
  right: 0em;
  transition: transform 1s;
  font-size: 1.5em;
  font-weight: 900;
}

details[open] summary::before {
  transform: rotate(180deg);
}

/*voor dit stuk heb ik chat gpt om hulp gevraagd als het gaat om het
sluiten van het vorige details element wanneer een nieuwe geopend word

"how can i make it so if one details is opened that if another one was open, it will close automatically?"*/

details a{
  text-decoration: none;
  color: var(--color-darkgrey);
  font-size: 1em;
  display: block;
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-align: left;
}

footer section:nth-of-type(2) ul:nth-of-type(1) {
  margin-left: 0.5em;
  display: flex;
}

footer section:nth-of-type(2) ul:nth-of-type(1) li{
  display: block;
  margin-right: -3em;
}

footer section:nth-of-type(2) ul:nth-of-type(1) li a img{
  scale: 35%;
}

footer :nth-child(2) h2{
  clip-path: inset(50%);
  height: 1%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1%;
}

/*3e section*/

footer section:nth-of-type(3) h2{
  color: var(--color-darkgrey);
  font-family: BMW-light,Arial;
  font-weight: 100;
  font-size: 1em;
  padding-top: 1.5em;
  text-align: center;
}

footer section:nth-of-type(3) ul{
  margin-bottom: 1.5em;
  margin-top: 1em;
  margin-left: 2.5em;
  text-align: left;
}

footer section:nth-of-type(3) li{
  display: block;
  padding: 0.5em;
}

footer section:nth-of-type(3) a{
  text-decoration: none;
  color: var(--color-black);
  font-size: 1em;
}

footer section:nth-of-type(3) a:hover{
  text-decoration: underline;
  filter: brightness(70%);
}